HolidayReservationSystemClient/xml-resources/web-service-references/FlightReservationWebService/wsdl/localhost_8080/FlightReservationWebService/FlightReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="FlightReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/FlightReservationWebService/FlightReservationWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/FlightReservationWebService/FlightReservationWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="getIndirectFlightSchedules">
<part name="parameters" element="tns:getIndirectFlightSchedules"/>
</message>
<message name="getIndirectFlightSchedulesResponse">
<part name="parameters" element="tns:getIndirectFlightSchedulesResponse"/>
</message>
<message name="FlightNotFoundException">
<part name="fault" element="tns:FlightNotFoundException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="retrieveFlightScheduleById">
<part name="parameters" element="tns:retrieveFlightScheduleById"/>
</message>
<message name="retrieveFlightScheduleByIdResponse">
<part name="parameters" element="tns:retrieveFlightScheduleByIdResponse"/>
</message>
<message name="FlightScheduleNotFoundException">
<part name="fault" element="tns:FlightScheduleNotFoundException"/>
</message>
<message name="retrieveTransactionsByCustomerId">
<part name="parameters" element="tns:retrieveTransactionsByCustomerId"/>
</message>
<message name="retrieveTransactionsByCustomerIdResponse">
<part name="parameters" element="tns:retrieveTransactionsByCustomerIdResponse"/>
</message>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="FlightReservationExistException">
<part name="fault" element="tns:FlightReservationExistException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="SeatInventoryNotFoundException">
<part name="fault" element="tns:SeatInventoryNotFoundException"/>
</message>
<message name="SeatBookedException">
<part name="fault" element="tns:SeatBookedException"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="TransactionNotFoundException">
<part name="fault" element="tns:TransactionNotFoundException"/>
</message>
<message name="getBiggestFare">
<part name="parameters" element="tns:getBiggestFare"/>
</message>
<message name="getBiggestFareResponse">
<part name="parameters" element="tns:getBiggestFareResponse"/>
</message>
<message name="CabinClassNotFoundException">
<part name="fault" element="tns:CabinClassNotFoundException"/>
</message>
<message name="getSeatInventory">
<part name="parameters" element="tns:getSeatInventory"/>
</message>
<message name="getSeatInventoryResponse">
<part name="parameters" element="tns:getSeatInventoryResponse"/>
</message>
<message name="isBooked">
<part name="parameters" element="tns:isBooked"/>
</message>
<message name="isBookedResponse">
<part name="parameters" element="tns:isBookedResponse"/>
</message>
<message name="getFlightSchedules">
<part name="parameters" element="tns:getFlightSchedules"/>
</message>
<message name="getFlightSchedulesResponse">
<part name="parameters" element="tns:getFlightSchedulesResponse"/>
</message>
<message name="AirportNotFoundException">
<part name="fault" element="tns:AirportNotFoundException"/>
</message>
<message name="createNewTransaction">
<part name="parameters" element="tns:createNewTransaction"/>
</message>
<message name="createNewTransactionResponse">
<part name="parameters" element="tns:createNewTransactionResponse"/>
</message>
<message name="TransactionExistException">
<part name="fault" element="tns:TransactionExistException"/>
</message>
<message name="retreiveTransactionById">
<part name="parameters" element="tns:retreiveTransactionById"/>
</message>
<message name="retreiveTransactionByIdResponse">
<part name="parameters" element="tns:retreiveTransactionByIdResponse"/>
</message>
<portType name="FlightReservationWebService">
<operation name="getIndirectFlightSchedules">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/getIndirectFlightSchedulesRequest" message="tns:getIndirectFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/getIndirectFlightSchedulesResponse" message="tns:getIndirectFlightSchedulesResponse"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getIndirectFlightSchedules/Fault/FlightNotFoundException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getIndirectFlightSchedules/Fault/ParseException"/>
</operation>
<operation name="retrieveFlightScheduleById">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveFlightScheduleByIdRequest" message="tns:retrieveFlightScheduleById"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveFlightScheduleByIdResponse" message="tns:retrieveFlightScheduleByIdResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveFlightScheduleById/Fault/FlightScheduleNotFoundException"/>
</operation>
<operation name="retrieveTransactionsByCustomerId">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveTransactionsByCustomerIdRequest" message="tns:retrieveTransactionsByCustomerId"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveTransactionsByCustomerIdResponse" message="tns:retrieveTransactionsByCustomerIdResponse"/>
</operation>
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/doLogin/Fault/InvalidLoginException"/>
</operation>
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/InputDataValidationException"/>
<fault message="tns:FlightReservationExistException" name="FlightReservationExistException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/FlightReservationExistException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/UnknownPersistenceException"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/FlightScheduleNotFoundException"/>
<fault message="tns:SeatInventoryNotFoundException" name="SeatInventoryNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/SeatInventoryNotFoundException"/>
<fault message="tns:SeatBookedException" name="SeatBookedException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/SeatBookedException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/CustomerNotFoundException"/>
<fault message="tns:TransactionNotFoundException" name="TransactionNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewReservation/Fault/TransactionNotFoundException"/>
</operation>
<operation name="getBiggestFare">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFareRequest" message="tns:getBiggestFare"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFareResponse" message="tns:getBiggestFareResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFare/Fault/FlightScheduleNotFoundException"/>
<fault message="tns:CabinClassNotFoundException" name="CabinClassNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getBiggestFare/Fault/CabinClassNotFoundException"/>
</operation>
<operation name="getSeatInventory">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/getSeatInventoryRequest" message="tns:getSeatInventory"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/getSeatInventoryResponse" message="tns:getSeatInventoryResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getSeatInventory/Fault/FlightScheduleNotFoundException"/>
<fault message="tns:SeatInventoryNotFoundException" name="SeatInventoryNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getSeatInventory/Fault/SeatInventoryNotFoundException"/>
</operation>
<operation name="isBooked">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/isBookedRequest" message="tns:isBooked"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/isBookedResponse" message="tns:isBookedResponse"/>
</operation>
<operation name="getFlightSchedules">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedulesRequest" message="tns:getFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedulesResponse" message="tns:getFlightSchedulesResponse"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedules/Fault/FlightNotFoundException"/>
<fault message="tns:AirportNotFoundException" name="AirportNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedules/Fault/AirportNotFoundException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/getFlightSchedules/Fault/ParseException"/>
</operation>
<operation name="createNewTransaction">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewTransactionRequest" message="tns:createNewTransaction"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewTransactionResponse" message="tns:createNewTransactionResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewTransaction/Fault/CustomerNotFoundException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewTransaction/Fault/InputDataValidationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewTransaction/Fault/UnknownPersistenceException"/>
<fault message="tns:TransactionExistException" name="TransactionExistException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/createNewTransaction/Fault/TransactionExistException"/>
</operation>
<operation name="retreiveTransactionById">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/retreiveTransactionByIdRequest" message="tns:retreiveTransactionById"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/retreiveTransactionByIdResponse" message="tns:retreiveTransactionByIdResponse"/>
<fault message="tns:TransactionNotFoundException" name="TransactionNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/retreiveTransactionById/Fault/TransactionNotFoundException"/>
</operation>
</portType>
<binding name="FlightReservationWebServicePortBinding" type="tns:FlightReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getIndirectFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFlightScheduleById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveTransactionsByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="FlightReservationExistException">
<soap:fault name="FlightReservationExistException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
<fault name="SeatInventoryNotFoundException">
<soap:fault name="SeatInventoryNotFoundException" use="literal"/>
</fault>
<fault name="SeatBookedException">
<soap:fault name="SeatBookedException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="TransactionNotFoundException">
<soap:fault name="TransactionNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getBiggestFare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
<fault name="CabinClassNotFoundException">
<soap:fault name="CabinClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getSeatInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
<fault name="SeatInventoryNotFoundException">
<soap:fault name="SeatInventoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="isBooked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
<fault name="AirportNotFoundException">
<soap:fault name="AirportNotFoundException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="createNewTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="TransactionExistException">
<soap:fault name="TransactionExistException" use="literal"/>
</fault>
</operation>
<operation name="retreiveTransactionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TransactionNotFoundException">
<soap:fault name="TransactionNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightReservationWebService">
<port name="FlightReservationWebServicePort" binding="tns:FlightReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/FlightReservationWebService/FlightReservationWebService"/>
</port>
</service>
</definitions>